{% extends "base.html" %} {% block title %}Name of the scan{% endblock %}
{%block content %}
<div class="">
  <img
    class="img-fluid"
    src="{{url_for('static',filename = 'images/maze_web.svg')}}"
    width="250px"
  />
</div>
<a
  href="{{url_for('static',filename = 'images/maze_web.svg')}}"
  download="Labyrinthe.jpg"
  class="link-warning"
>
  Télécharger le labyrinthe ici
  <i class="fa fa-solid fa-download color-icon text-center text-warning"></i
></a>
<p>boutonretour en arrière à faire</p>
{% endblock %}
