<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
      data-auto-replace-svg="nest"
    ></script>
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/images/logo.png"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename = 'style.css')}}"
    />
    <title>{% block title %}Base{% endblock %}</title>
  </head>

  <body class="bg-dark" style="--bs-bg-opacity: 0.9">
    <header>
      <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="navbar-brand border-0">
            <img
              class="navbar-toggler-icon"
              src="/static/images/logo.png"
              alt="Logo"
              width="50px"
            />
          </div>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0">
              <li class="nav-item">
                <a class="nav-link text-warning" id="name" href="/">
                  <strong>Maze Generator</strong>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-warning" id="name" href="/">
                  <strong>Acceuil</strong>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- Intégration de python grâce a jinja2 directement implémenté dans Flask -->
    <!-- Mise en forme du message envoyer par flash() -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="alert alert-info alert-dimissible" role="alert">
      {{ message }}
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        data-bs-dismiss="alert"
      >
        <span aria-hidden="true">&times</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alert-dimissible" role="alert">
      {{ message }}
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        data-bs-dismiss="alert"
      ></button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container">{% block content %} {% endblock %}</div>
    <script>
      // fonction javascript pour gérer l'affichage des inputs d'entrée et de sortie
      function toggle_display_entree() {
        sortie = document.querySelector(".sortie-input"); // On récupère la balise class 'sortie-input'
        entree = document.querySelector(".entree-input"); // On récupère la balise class 'entree-input'
        if (entree.style.display == "none") { // Si la balise 'entree-input' est non-affichée alors
          entree.style.display = "block"; // On l'affiche
          sortie.style.display = "none"; // Et on enlève la balise 'sortie-input'
        }
      };
      // fonction javascript pour gérer l'affichage des inputs d'entrée et de sortie
      function toggle_display_sortie() {
        sortie = document.querySelector(".sortie-input"); // On récupère la balise class 'sortie-input'
        entree = document.querySelector(".entree-input"); // On récupère la balise class 'entree-input'
        if (sortie.style.display == "none") { // Si la balise 'sortie-input' est non-affichée alors
          sortie.style.display = "block"; // On l'affiche
          entree.style.display = "none"; // Et on enlève la balise 'entree-input'
        }
      }
    </script>
  </body>
</html>
