{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}

<div class="contenair-fluid p-5 my-4 rounded-3 bg-dark text-white">
  <h2 class="mb-4 fw-bold text-center">
    <i class="fab fa-hotjar color-icon text-center text-warning"></i> Labyrinthe
  </h2>
  <div class="progress" style="height: 20px">
    <div
      class="progress-bar progress-bar-striped bg-warning progress-bar-animated"
      role="progressbar"
      id="progressbar"
      style="width: 0%"
      aria-valuenow="0"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
  <form method="POST">
    <div class="form-group">
      <div class="longueur-input">
        <p class="mb-3 pt-4 fw-bold">
          Pour générer le labyrinthe il suffit de sélectionner la longueur ainsi
          que la largeur. Puis de sélectionner le départ et l'arrivée.
        </p>
        <label class="form-label">
          Longueur (minimum: 4 / recommandé: 20) | Valeur :
        </label>
        <span class="p-2" id="val-longueur-affichage">4</span>
        <input
          type="range"
          class="form-range"
          min="4"
          max="100"
          id="valeur-longueur"
          value="4"
          name="valeur-longueur"
          onInput="document.getElementById('val-longueur-affichage').innerText =
                  document.getElementById('valeur-longueur').value; val =
                  document.getElementById('valeur-longueur').value / 4 +
                  (document.getElementById('valeur-largeur').value / 4);
                  document.getElementById('progressbar').style = 'width: '+val+'%';
                  document.getElementById('valeur-depart').setAttribute('max', document.getElementById('valeur-longueur').value);
                  document.getElementById('valeur-arrivee').setAttribute('max', document.getElementById('valeur-longueur').value);"
        />
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            name="aleatoire-longueur"
            id="aleatoire-longueur"
          />
          <label class="form-check-label" for="aleatoire-longueur"
            >Aléatoire</label
          >
        </div>
      </div>
      <div class="largeur-input">
        <label class="form-label">
          Largeur (minimum: 4 / recommandé: 20) | Valeur :
        </label>
        <span class="p-2" id="val-largeur-affichage">4</span>
        <input
          type="range"
          class="form-range"
          min="4"
          max="100"
          id="valeur-largeur"
          name="valeur-largeur"
          value="4"
          onInput="document.getElementById('val-largeur-affichage').innerText = document.getElementById('valeur-largeur').value;
                  val = (document.getElementById('valeur-largeur').value / 4) + (document.getElementById('valeur-longueur').value / 4);
                  document.getElementById('progressbar').style = 'width: '+val+'%';"
        />
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            name="aleatoire-largeur"
            id="aleatoire-largeur"
          />
          <label class="form-check-label" for="aleatoire-largeur"
            >Aléatoire</label
          >
        </div>
      </div>
      <p class="mb-1 pt-3 fw-bold">
        En sélectionnant le départ et l'arrivée vous choisissez l'emplacement
        sur les cotés de ceux-ci (maximum : longueur).
      </p>
      <div class="btn-group pt-3">
        <button
          type="button"
          class="btn btn-warning dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Définir départ/arrivée
        </button>
        <ul class="dropdown-menu bg-warning text-black">
          <li>
            <button
              type="button"
              class="btn btn-warning"
              onclick="toggle_display_depart();
                      document.getElementById('progressbar').style = 'width: 60%';"
            >
              Départ
            </button>
          </li>
          <li>
            <button
              type="button"
              class="btn btn-warning"
              onclick="toggle_display_arrivee();
              document.getElementById('progressbar').style = 'width: 70%';"
            >
              Arrivée
            </button>
          </li>
        </ul>
      </div>
      <div class="depart-input">
        <label class="form-label">Départ | Valeur :</label>
        <span class="p-2" id="val-depart-affichage">0</span>
        <input
          type="range"
          class="form-range"
          min="0"
          id="valeur-depart"
          name="valeur-depart"
          value="0"
          onInput="document.getElementById('val-depart-affichage').innerText = document.getElementById('valeur-depart').value"
        />
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            name="aleatoire-depart"
            id="aleatoire-depart"
          />
          <label class="form-check-label" for="aleatoire-depart"
            >Aléatoire</label
          >
        </div>
      </div>
      <div class="arrivee-input">
        <label class="form-label">Arrivée | Valeur :</label>
        <span class="p-2" id="val-arrivee-affichage">0</span>
        <input
          type="range"
          class="form-range"
          min="0"
          id="valeur-arrivee"
          name="valeur-arrivee"
          value="0"
          onInput="document.getElementById('val-arrivee-affichage').innerText = document.getElementById('valeur-arrivee').value"
        />
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            name="aleatoire-arrivee"
            id="aleatoire-arrivee"
          />
          <label class="form-check-label" for="aleatoire-arrivee"
            >Aléatoire</label
          >
        </div>
      </div>
      <div class="position-absolute pt-5 start-50 translate-middle">
        <button type="submit" class="btn btn-outline-warning">
          Générer le Labyrinthe
        </button>
      </div>
    </div>
  </form>
  <script>
    depart = document.querySelector(".depart-input");
    arrivee = document.querySelector(".arrivee-input");
    arrivee.style.display = "none";
    depart.style.display = "none";
  </script>

  {% endblock %}
</div>
